<div class='row'>
  <div class='col'>
    <h2>Home</h2>
  </div>
</div>
<div class='row'>
  <div class="col">
    <h1>
      Welcome to SHOWTIXer
    </h1>
    <p>Feel free to use our site to search for Ticketmaster events all around the world, or simply in your area. If you create an account you will be able to save events for future reference.</p>
    <p>If you save an event, we'll reccomend artists for you based on those events, and you can explore even further to find new music that may suit your tastes.</p>
    <p>Enjoy!</p>
  </div>
</div>
